#footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100px;
}

#footer #copyright {
    font-size: 0.7em;
    color: #ADADAD;
    margin: 20px 0;
    text-align: center;
}

#footer #copyright p {
    margin: 1px;
}

body {
    margin: 0;
    color: #000;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, STheiti, 微 软 雅 黑, 宋 体, Arial, Tahoma, sans-serif, serif;
}

/*左侧菜单*/
.sidebar-menu {
    border-right: 1px solid #c4c8cb;
}

/*一级菜单*/
.menu-first {
    height: 45px;
    line-height: 45px;
    background-color: mintcream;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #e1e1e1;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #E6B0B0;
}

/*一级菜单鼠标划过状态*/
.menu-first:hover {
    text-decoration: none;
    background-color: #d6d4d5;
    border-top: 1px solid #b7b7b7;
    border-bottom: 1px solid #acacac;
}

/*二级菜单*/
.menu-second li a {
    background-color: #f6f6f6;
    height: 31px;
    line-height: 31px;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    font-size: 12px;
    text-align: center;
}

/*二级菜单鼠标划过样式*/
.menu-second li a:hover {
    text-decoration: none;
    background-color: #66c3ec;
    border-top: 1px solid #83ceed;
    border-bottom: 1px solid #83ceed;
    border-right: 3px solid #f8881c;
    border-left: 3px solid #66c3ec;
}

/*二级菜单选中状态*/
.menu-second-selected {
    background-color: #66c3ec;
    height: 31px;
    line-height: 31px;
    border-top: 1px solid #83ceed;
    border-bottom: 1px solid #83ceed;
    border-right: 3px solid #f8881c;
    border-left: 3px solid #66c3ec;
    text-align: center;
}

/*覆盖bootstrap的样式*/
.nav-list, .nav-list li a {
    padding: 0px;
    margin: 0px;
}



.body-top-content-div{
    background-color:powderblue;height: 80px;border-bottom: 1px solid #ccc
}
.body-top-login-user-div{
    position: fixed;
    right: 30px;
    top: 50px;
    font-size: 14px;
}
.body-center-div{
    width: 100%;height: auto;min-height: 500px;border: 0px solid blue;
}
.left-menu-div{
    background-color:#eee;width: 180px;border: 0px solid red;height: 100%;float: left;position: absolute;top: 81px;border-right: 1px solid #ccc;z-index: 1
}
.mainBody-div {
    width: 100%;
    margin-top: 0px;
    position: absolute;
    top: 81px;
    right: 0px;
    height: 100%;
    padding: 0;

}
.mainBody-div-main {
    margin-left: 180px;height: 100%;padding: 0
}
.menuTabsContent{
    height: 100%;padding: 0
}
.tabs-title-ul{
    padding: 1px 0px 0px 1px
}
